* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

.container {
  width: 100vw;
  height: 100vh;

  display: grid;
  grid-template:
  "header    header   header      header" 50px
  "left-menu main     right-menu  footer" 1fr /
  150px      1fr      200px       50px;

  gap: 10px;
}

@media screen and (max-width: 1265px) {
  .container {
    grid-template:
    "header     header   header"     50px
    "left-menu  main     right-menu" 1fr /
     150px      1fr      200px;
  }

  .footer {
    display: none;
  }
}

@media screen and (max-width: 987px) {
  .container {
    grid-template:
    "header     header"  50px
    "left-menu  main"    1fr /
     150px      1fr;
  }

  .footer {
    display: none;
  }

  .right-menu {
    display: none;
  }
}

@media screen and (max-width: 499px) {
  .container {
    grid-template:
    "header"  50px
    "main"    1fr /
     1fr;
  }

  .footer {
    display: none;
  }

  .right-menu {
    display: none;
  }

  .left-menu {
    diplay: none;
  }
}

.header {
  background-color: aliceblue;
  grid-area: header;
}

.left-menu {
  background-color: rgb(53, 123, 183);
  grid-area: left-menu;
}

.main {
  background-color: rgb(176, 207, 235);
  grid-area: main;
}

.right-menu {
  background-color: rgb(53, 176, 204);
  grid-area: right.menu;
}

.footer {
  background-color: rgb(153, 228, 245);
  grid-area: footer;
}

.header,
.left-menu,
.main,
.right-menu,
.footer {
  border-radius: 5px;
}